@model MIRServer.Models.Incident

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>The Mobile Incident Reporter</title>
</head>
<body>
    <h1>The Mobile Incident Reporter</h1>
    Thank you for your incident report. Click @Html.ActionLink("here", null, null, null, new { href = Request.UrlReferrer }) here to go back.
</body>
</html>
